---

---
<header class="mb-8">
	<h1 class="bg-[#0c211b] p-8 m-9 text-[#a4ac6c] text-center text-4xl rounded-3xl sombra-blanca  border-5 border-dashed border-[#c5d99e]">
		Manual Proyecto
	</h1>
</header>