---

---
<nav class="flex flex-wrap justify-center gap-4 bg-[#0c211b] text-base md:text-lg font-bold border-b-6 border-[#3d573c] text-white mb-6 p-5 ">

    <p>Bienvenido a este manual. Ojalá encuentres lo que buscas </p>
    <a href="/">Inicio</a>
</nav>